<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rice02_100h_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,99}</string>
                <key>spriteSourceSize</key>
                <string>{47,99}</string>
                <key>textureRect</key>
                <string>{{0,0},{47,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rice02_100h_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,99}</string>
                <key>spriteSourceSize</key>
                <string>{47,99}</string>
                <key>textureRect</key>
                <string>{{0,99},{47,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rice.png</string>
            <key>size</key>
            <string>{47,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08a8883d3179f2ec8c9d8cf4cce4ab46:9f3f34b14b4c8947016c9b3c5fcac9d2:77afb369f468306fd3c4b33dd50a0b13$</string>
            <key>textureFileName</key>
            <string>rice.png</string>
        </dict>
    </dict>
</plist>
