<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Color_sprite_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Color_sprite_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{69,0},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Color_sprite_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{138,0},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Color_sprite_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{207,0},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Color_sprite_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{276,0},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Color_sprite_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{345,0},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Color_sprite_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{414,0},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{483,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3528cc1bbb9e6f0617aacd969a970af3:970c8d7637f14ab1357c88eabd9a4633:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
